Package: zeal
Version: 1:0.7.2-1.1build1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1246
Depends: libarchive13t64 (>= 3.2.1), libc6 (>= 2.34), libcpp-httplib0.18 (>= 0.18.7), libgcc-s1 (>= 3.3.1), libqt6concurrent6 (>= 6.1.2), libqt6core6t64 (>= 6.9.1), libqt6gui6 (>= 6.8.2), libqt6network6 (>= 6.1.2), libqt6webchannel6 (>= 6.6.0), libqt6webenginecore6 (>= 6.6.0), libqt6webenginecore6-bin (>= 6.6.0), libqt6webenginewidgets6 (>= 6.6.0), libqt6widgets6 (>= 6.6.0), libsqlite3-0 (>= 3.6.5), libstdc++6 (>= 13.1), libx11-6, libxcb-keysyms1 (>= 0.4.1), libxcb1, qt6-base-private-abi (= 6.9.2), libqt6sql6-sqlite
Section: doc
Priority: optional
Homepage: https://zealdocs.org/
Description: Simple offline API documentation browser
 Zeal is a simple offline API documentation browser inspired by Dash (OS X
 app), available for Linux and Windows.
 .
  * Quickly search documentation using Alt+Space (or customised) hotkey to
    display Zeal from any place in your workspace.
  * Search in multiple sets of documentation at once.
  * Don't be dependent on your internet connection.
  * Integrate Zeal with Emacs, Sublime Text, or Vim.
Original-Maintainer: ChangZhuo Chen (陳昌倬) <czchen@debian.org>
